#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
  padding-left: 3%;
  padding-right: 4%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  
  margin-top: 20px;
}

.image-gallery img {
  width: 1px;
  height: 140px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s;
}

.logo {
  border-radius: 110%;
  position: absolute;
  left: 93%;
  padding: 1;
  top: 0%;
  width: 4%;
  height: 8%;
}
.menus {
  list-style-type: none;
 padding: 0%;
  margin: 0;
  display: flex;
  
}

.search-container {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  position: absolute;
  left: 65%;
  top: 4%;
}

.search-bar {
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgb(175, 175, 175);
  width: 300px; 
  border-radius: 30px;
}

.navigation {
  position: relative;
  display: inline-block;
  padding: 1%;
}

.navigation-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navigation a {
  color: black;
  padding: 15px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.navigation:hover .navigation-content {
  display: block;
    height: 1%;
}

.dribbble {
  position: absolute;
  left: 45%;
  top: 0%;
  padding-top: 1%;
}
.dribbbl{
  justify-content: start;
  display: flex;
  float: left;
}

.filter {
  border-radius: 30px;
  border: 1px solid rgb(175, 175, 175);
  position: absolute;
  left: 87%;
  top: 18%;
}

.below-menu {
  font-size: 120%;
  padding-top: 2%;
}

select.subject-dropdown {
  margin-bottom: 1px; 
  font-size: 16px; 
  border-radius: 30px;
  border: 1px solid rgb(175, 175, 175);
  position: absolute;
  left: 5%;
  top: 20%;
  display: none;
  min-width: 100px;
  color: black;
  padding: 7px;
  margin: 0;  
  text-decoration: none;
  display: block;
}
 
 .image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  margin: 10px;
  text-align: center;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
} 

.image-name-overlay {
  position: absolute;
  bottom: 16%; 
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;  
  pointer-events: none; 
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgb(77, 71, 71);
  text-align: center; 
}

.image-container:hover .image-name-overlay {
  opacity: 1;
} 

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.like-button {
  position: absolute;
  top: 85%;
  left: 68%;
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  font-size: 18px;
  outline: none; /* Add this line */
}

.like-button:hover {
  color: red;
}

.count {
  position: absolute;
  left: 77%;
  top: 84%;
  padding-top: 1%;
  padding-right: 1%;
}

.view {
  position: absolute;
  left: 86%;
  padding-top: 1%;
  display: flex;
  justify-content: end;
  top: 84%;
  justify-content: space-around;
  justify-content: space-between;
}

.image-author {
  font-weight: 600;
  position: relative;
  right: 35%;
}

.icon-view {
  padding-top: 5%;
  padding-right: 5%;
}

.social-icons {
  display: flex;
  justify-content: end;
  float: right;
}
/* *{
  background-color: aliceblue;
} */